body{
    background: linear-gradient(115deg,rgb(25, 67, 80),rgb(255, 136, 130),rgb(255, 194, 180),rgb(157, 190, 185));
    display: flex;
    flex-direction: column;
}

#Set1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 10vw;
}

#Set1Buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 10vw;
    height: 50vh;
}

#normal{
    background-image: url("brush-icon1.png");
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
}

#darken{
    background-image: url("darken-icon.png");
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
}

#lighten{
    background-image: url("lighten-icon.png");
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
}

#random{
    background-image: url("random-icon.png");
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain; 
}

#erase{
    background-image: url("eraser-icon.png");
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: contain; 
}

#clear{
    background-image: url("clear-icon.png");
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: contain; 
}

#Set2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 10vw;
}

#Set2Buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 10vw;
    height: 50vh;
}

.btnTxt{
    font-family: 'Righteous';
    font-size: 25px;
    visibility: hidden;
}


#top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    left: auto;
}

#brushColor{
    border-radius: 50%;
    border: none;
    height: 4vh;
}

#bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button{
    background-color:rgb(157, 190, 185);
    border-radius: 100px;
    margin-top: 50px;
    border: solid;
    border-color: rgb(41, 127, 135);
    width: 50px;
    height: 50px;
    min-width: 25px;
    min-height: 25px;
    transition: 0.2s;
    
}


.button:hover{
    border: solid;
    border-color: rgb(255, 196, 0);
    width: 11.5vw;
    height: 50px;

}
.button:hover .btnTxt{
    animation-name: btnTxtHover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@media (max-width: 1300px){
    .btnTxt{
        font-size:20px;
    }
}
@media (max-width: 1150px){
    .btnTxt{
        font-size: 16px;
    }
}

@media (max-width: 950px) {
    .btnTxt {
        font-size: 10px;
    }
    .button:hover{
        border: solid;
        border-color: rgb(255, 196, 0);
        margin-top: 40px;
        width: 60px;
        height: 60px;
    }
    .button:hover .btnTxt{
        animation-name: none;
    }
}



@keyframes btnTxtHover{
    0%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    80%{
        visibility: visible;
        opacity: 0.5;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}

#board{
    background-color: white;
    display: grid;
    height: 80vh;
    width: 80vh;
    border-width: 3px;
    border-style: solid;
    border-color: red;
}

